/**
 * Página donde se invia al usuario a renovar uinja subscripción que ha finalizado
 *
 * @author javieru <javi@gestoy.com>
 * @copyright 2021 Reatil Servicios Externos
 */

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.subscription {
    position: fixed;
    bottom: 56px;
    width: 90%;
    margin: 5%;
}
