/**
 * Estado de validación del documento0
 *
 * @author javieru <javi@gestoy.com>
 * @copyright 2021 Retail Servicios Externos
 */

 .card {

    .signers {

        .signer {
            position: relative;
            top: -6px;
            left: 5px;
        }
    }
 }