// ---------------------------------------------------
// Colores para la app, aplicados a texto y demas
// ---------------------------------------------------

.text-facebook {
    color: #0e8ef1 !important;
}

.text-linkedin {
    color: #0a66c2 !important;
}

.text-twitter {
    color: #1da1f2 !important;
}