/**
 *  page.scss
 *
 * @author javieru <javi@gestoy.com>
 * @copyright 2021 Retail Servicos Externos 
 */

 /**
  * Imagen de la página
  */
.image-page {
    max-width: 1024px;
    width: 100%;
    padding: 10px;
}
